.navigation {
    width: 200px;
    margin: 0 16px;
    position: fixed;
    border-radius: 12px;
    top: 68px;
    bottom: 0;
}

.container {
    padding: 12px 16px 0;
    display: flex;
    justify-content: flex-end;
    margin-left: 216px;
}

.readLetters {
    width: 100%;
    border-radius: 12px;
    background: #fff;
    /* transition: background .2s ease; */
    margin-top: 56px;
}

@media (max-width: 768px) {
    .container {
        margin-left: 48px;
    }
    .navigation {
        width: 36px;
        margin: 0 10;
    }
    .readLetters {
        margin-left: 56px;
    }
}
